# This workflow will upload a Python Package using uv
name: Publish to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read
  # IMPORTANT: this permission is mandatory for Trusted Publishing
  id-token: write

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build
        run: uv build

      - name: Publish to PyPI
        run: uv publish